@page
@model RCL_Demo.MyFeature.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relógio</title>
</head>
<body>
    <h2 class="text-center">@TempData["Usuario"]</h2>
    <hr />
    <h2 class="text-center">@TempData["Horario"]</h2>
</body>
</html>
