@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<br>

@{
    ViewData["Titulo"] = "Cidades";
}
@await Component.InvokeAsync("Lista", new { sequencia = "Santos,Campinas,Sorocaba" })
<br>

@{
    ViewData["Titulo"] = "Times";
}
<vc:lista sequencia="Santos,Vasco,Flamengo,Sport"></vc:lista>
<br>
